@model TruckMovingCompany.ViewModels.EditMoverViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.FirstName @Model.LastName Information</h2>

@using (Html.BeginForm("EditMover", "Mover", "Post"))
{
    @Html.HiddenFor(m => m.MoverId)
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div class="form-group">
        <!-- IList of crews Remove -->
        <!-- List of crews to Add -->
        <select id="remove-from-crew">
            <option disabled selected value> -- select a crew to remove -- </option>
            @foreach (var MoversCrewName in @Model.MoversCrews)
            {
                <option>@MoversCrewName</option>
            }
        </select>
        <input type="button" class="btn btn-danger js-remove-mover-from-crew" value="Remove from Crew"/>
    </div>
    <div class="form-group">
        <!-- IList of crews Remove -->
        <!-- List of crews to Add -->
        <select id="add-crew">
            <option disabled selected value> -- select a crew to add -- </option>
            @foreach (var AddCrewName in @Model.CrewListToAdd)
            {
                <option>@AddCrewName</option>
            }
        </select>
        <input type="button" class="btn btn-success js-add-mover-to-crew" value="Add to Crew"/>
    </div>
    <input type="submit" class="btn btn-primary" />

}

@section scripts {
    <script>
        $(document).ready(function () {
            //-- NOTE: -------------------------------------------------------------------------------- //
            // Need to add loading icon (for good UX)to pause controls while js adds/removes options
            //      from lists.
            //-------------------------

            // add to crew
            $(".js-add-mover-to-crew").on("click", function () {
                var CrewName = $("#add-crew option:selected").text();

                $.post("api/EditMoverApi/AddMoverToCrew", {CrewName:CrewName,MoverId:@Model.MoverId})
                .done(function(){
                    var currentCrewList = $("#remove-from-crew");
                    var addCrewList = document.getElementById("add-crew");
                    var option = document.createElement("OPTION");

                    option.text =  $("option:selected" , addCrewList).text();

                    $("option:selected" , addCrewList).remove();
                    if(addCrewList.length === 1){
                        addCrewList.selectedIndex = 0;
                    }
                    currentCrewList.append(option);
                })
                .fail(function(){
                    alert("something failed");
                });
            });

            // remove/delete from
            $(".js-remove-mover-from-crew").on("click", function () {
                var CrewName = $("#remove-from-crew option:selected").text();

                $.ajax({
                    url: "api/EditMoverApi/RemoveMoverFromCrew",
                    data: {CrewName:CrewName, MoverId:@Model.MoverId},
                    type: "DELETE"
                })
                .done(function(){
                    var currentCrewList = document.getElementById("remove-from-crew");
                    var addCrewList = $("#add-crew");
                    var option = document.createElement("OPTION");

                    option.text =  $("option:selected" , currentCrewList).text();


                    $("option:selected" , currentCrewList).remove();
                    if(currentCrewList.length === 1){
                        currentCrewList.selectedIndex = 0;
                    }
                    addCrewList.append(option);

                })
                .fail(function(){
                    alert('failed');
                });

            });

        });
    </script>

}